<div class="dialog">
  <h2>Frame unfriendly site.</h2>
  <p>This site has chosen not to allow their pages to be displayed from within a frame on another site. Out of respect for their wishes, your link should be opened in another window.</p>
  <p>If the link does not open shortly, <strong>please check your pop-up blocker.</strong></p>
</div>
