<div id="container">
  <div id="itemList">
    <div id="itemListToolbar">
      <div id="links">
        <a href="http://news.ycombinator.com" id="top" class="active">Top</a>
        <a href="http://news.ycombinator.com/newest" id="newest">New</a>
        <span class="right">
          <a id="refresh" href="#refresh" title="Refresh">
            <%- icon('/img/01-refresh.png', {alt: 'Refresh', height: '20', width: '20'}) %>
          </a>
        </span>
      </div>
    </div>
    <div id="items" class="scrollbar"></div>
  </div>
  <div id="itemDetail">
    <iframe id="itemContent"></iframe>
  </div>
</div>
<div id="loadingIndicator" style="display:none;">Loading...</div>
<script id="item-template" type="text/x-handlebars-template">
  <div class="item">
    <h2><a href="{{link}}" target="_blank" class="go_to_site">{{title}}</a></h2>
    <div class="detail">
      <div class="right">
        <span class="site-link"><a href="{{link}}" target="_blank" title="Go to page" class="go_to_site"><%- icon('/img/113-navigation.png', {alt: 'Go to Site', height: '15', width: '15'}) %></a></span>
        <span class="comments"><a href="{{comments}}" title="View Comments"><%- icon('/img/08-chat.png', {height: '15', width: '18', alt: 'View Comments'}) %></a></span>
      </div>
      <span class="site">{{host}}</span>
    </div>
  </div>
</script>
<%- scripts %>
