<div class="dialog">
  <h2>Choose a story from the left</h2>
  <p>Its contents will load here.</p>
  <p><em><strong>Please note,</strong> some sites do not allow their contents to be shown within an iframe. This causes them not to work properly with this application. As a result, links for those sites will open in a new window. Make sure to check your pop-up blocker if those links do not open.</em></p>
</div>
